@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Click on @Html.ActionLink("clients", "Index", "Client") or @Html.ActionLink("investements", "Index", "Investment") to proceed.
</div>
